.container {
    width: 60%;
    margin: auto;
    padding: 50px;
    border: 2px solid #b0c4de;
    border-radius: 8px;
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    
  }
  
  .title1 {
    text-align: center;
    color: #4682b4;
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    justify-content: space-between;
    
    padding: 20px;

  }

  .search-input {
    flex: 70%;
    padding: 8px;
    border: 1px solid #4682b4;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 8px 15px;
    border: none;
    background-color: #4682b4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    flex: 5%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .label {
    font-size: 14px;
    font-weight: bold;
    color: #4169e1;
  }
  
  .input1 {
    padding: 8px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
  }
  
  
  .edit-button {
    padding: 8px 15px;
    border: none;
    background-color: #4682b4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-end;
  }
  