/* ===== General Styles ===== */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.inventory-container {
    width: 100%;
    margin: auto;
    
    border-radius: 8px;
}

/* ===== Header ===== */
.inventory-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #007acc;
    margin-bottom: 20px;
}

/* ===== Layout ===== */
.inventory-content {
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
}

.part1 {
    flex-grow: 2;
    padding: 20px;
    border-radius: 10px;
}

/* ===== Filter Section ===== */
.filter-section11 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.search-input1 {
    padding: 8px;
    border: 1px solid #007acc;
    border-radius: 4px;
    flex:5;
}

.search-button {
    background-color: #4682b4;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    
    flex:1;
}

.search-button:hover {
    opacity: 0.85;
}

/* ===== Table Section ===== */
.table-section {
    flex: 1;
}



.inventory-table td {
    padding: 10px;
    border-bottom: 1px solid #d0e1f9
}

.inventory-table th {
     padding: 12px;
    border-bottom: 1px solid #99ccff
}

.inventory-table tbody tr:nth-child(even) {
    background-color: #f0f8ff;
}

/* ===== Form Section ===== */
.form-section-inventory {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.image-placeholder {
    background-color: #e0f2ff;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 15px;
    color: #007acc;
    font-weight: bold;
}

.inventory-form .form-group2 {
    margin-bottom: 12px;
}

.inventory-form label {
    display: block;
    font-weight: bold;
    color: #005f99;
}

.form-group11 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group11 label {
    font-weight: bold;
    color: #003366;
    margin-bottom: 8px;
}

.form-group11 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #003366;
    border-radius: 5px;
    background-color: #f0f8ff;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

.form-group11 input:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}
            
.createnewinventory-btn:hover{
    opacity: 0.8;
}

